{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "mocha": true,
    "jest": true,
  },
  "globals": {
    "module": true,
    "webviewApi": true,
    "messenger": true,
    "CodeMirror": true,
    "DDDot": true,
    "CodeMirror5Manager": true,
    "App": true
  }, 
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": { 
    "indent": ["error", 4],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "import/extensions": "off",
    "no-await-in-loop": "off",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "quotes": [2, "double"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { 
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": '^_',
        "caughtErrorsIgnorePattern": "^_",
      }
    ],
    "import/prefer-default-export": "off",
    "no-empty-function": "off"
  }
}
