
#dddot-scratchpad-tool-content .CodeMirror {
  border: 1px solid #000;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

#dddot-scratchpad-tool-content .CodeMirror-wrap pre {
  word-break: break-word;
}

.dddot-scratchpad-handle {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: ns-resize;
}