#dddot-panel-container {
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.dddot-hidden {
  display: none;
}

.dddot-tool-header {
  margin-top: 4px;
  margin-bottom: 2px;
  margin-left: 4px;
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
}

.dddot-tool-header h3 {
  margin-top: 8px;
  margin-bottom: 4px;
}

.dddot-tool-header i {
  font-size: 12px;
}

.dddot-expand-button {
  transform-origin: center center;
  margin-top: 6px ! important;
}

.dddot-expand-button-active {
  transform: scale(0.8, 0.8) rotate(90deg) ! important;
}

.dddot-expand-button-inactive {
  transform: scale(0.8, 0.8) rotate(180deg) ! important;
}

.dddot-tool {
  padding-bottom: 4px;
}

.dddot-tool-help-text {
  padding-left: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}


.dddot-note-dragging {
  background-color:  var(--joplin-background-color-hover3);
}

.dddot-note-item {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-overflow: clip;
  overflow-x: clip;
}

.dddot-note-item:hover {
  background: var(--joplin-background-color-hover3);
}

.dddot-note-item a {
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
  font-family: var(--joplin-font-family);
  color: var(--joplin-color3);
  height: 28px;
  line-height: 28px;
  white-space: nowrap;
}

.dddot-note-item div {
  overflow-x: hidden;  
}

.dddot-note-item a:hover {
  text-decoration: none;
}

.dddot-note-item a:visited {
  text-decoration: none;
}

.dddot-note-item a:active {
  text-decoration: none;
}

.dddot-note-item:not(:first-child):before  {
  content: " ";
  position: absolute;
  left: 20px;
  right: 20px;
  top: -1px;
  height: 1px;
  background-color: var(--joplin-divider-color);
}

.dddot-sortable-ghost {
  opacity: 0;
}

.dddot-fullscreen-dialog-container {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--joplin-background-color);
}

.dddot-fullscreen-dialog-header {
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.dddot-fullscreen-dialog-close-button-holder {
  margin-right: 4px;
  padding-left: 8px;
}

.dddot-fullscreen-dialog-title {
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: hidden;
}

.dddot-fullscreen-dialog-container .CodeMirror {
  border: 1px solid #000;
  border-radius: 2px;
  margin-left: 4px;
  margin-right: 4px;
}

.dddot-fullscreen-dialog-container .CodeMirror-wrap pre {
  word-break: break-word;
}

.dddot-fullscreen-dialog-texarea-handle {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: ns-resize;
}

.dddot-text-decoration-none a {
  text-decoration: none;
}

.dddot-text-decoration-none a:hover {
  text-decoration: none;
}

.dddot-text-decoration-none a:visited {
  text-decoration: none;
}

.dddot-text-decoration-none a:active {
  text-decoration: none;
}

.dddot-clickbable {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.dddot-clickable:hover {
  opacity: 0.5;
}

.dddot-tooltip {
  position: relative;
  display: inline-block;
}

.dddot-tooltip .dddot-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: 8px;
}

.dddot-tooltip:hover .dddot-tooltiptext {
  visibility: visible;
}

/*  Scrollbar style
  https://github.com/laurent22/joplin/blob/571147acbbf9ea61fd287ba05008727201bea951/packages/app-desktop/main.scss#L29 
*/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-corner {
  background: none;
}
::-webkit-scrollbar-track {
  border: none;
}
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3); 
  border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7); 
}

/* End of Scrollbar style */